@use 'sass:color';

$red-o100: color.scale(#ff0000, $alpha: -100%);
$grn-o100: color.scale(#00ff00, $alpha: -100%);
$blue-o100: color.scale(#0000ff, $alpha: -100%);
$red-o0: color.scale(#ff0000, $alpha: -0%);
$grn-o0: color.scale(#00ff00, $alpha: -0%);
$blue-o0: color.scale(#0000ff, $alpha: -0%);
$red-o50: color.scale(#ff0000, $alpha: -50%);
$grn-o50: color.scale(#00ff00, $alpha: -50%);
$blue-o50: color.scale(#0000ff, $alpha: -50%);
$txt-wht: color.scale(#ffffff, $alpha: 100%);
$bg: #dcdcdd;

:root {
  --background-color: #{$bg};
  --text-color: #{$txt-wht};

}

#strategist {
  background: linear-gradient(146.98deg, rgba(65, 57, 130, 0.6) 19.42%, rgba(170, 93, 42, 0) 57.63%), linear-gradient(360deg, rgba(132, 99, 153, 0.6) 3.73%, rgba(170, 93, 42, 0) 46.72%), linear-gradient(223.36deg, rgba(171, 164, 219, 0.6) 20.46%, rgba(170, 93, 42, 0) 54.44%), #AA5D2A;
}

#strategy {
  background: radial-gradient(50% 50% at 50% 50%, rgba(170, 93, 42, 0.2) 30.73%, rgba(0, 0, 0, 0) 100%), #413982;
}

#diagnose {
  background: radial-gradient(69.1% 76.79% at 77.01% 72.54%, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(310.86deg, rgba(170, 93, 42, 0.8) 33.14%, rgba(65, 57, 130, 0.8) 72.49%);
}

#problem {
  background: radial-gradient(56.79% 47.16% at 36.27% 25.37%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(141.1deg, rgba(170, 93, 42, 0.6) 39.62%, rgba(65, 57, 130, 0.6) 68.45%);
}

#new {
  background: radial-gradient(56.27% 50.3% at 18.96% 69.7%, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(207.79deg, rgba(170, 93, 42, 0.6) 23.03%, rgba(65, 57, 130, 0.6) 83.22%);
}

#what {
  background: radial-gradient(88.21% 70.65% at 84.33% 66.57%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(155.82deg, rgba(65, 57, 130, 0.6) 16.07%, rgba(170, 93, 42, 0.6) 73.13%);
}

#research {
  background: radial-gradient(81.94% 81.94% at 49.85% 13.58%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(172.58deg, rgba(170, 93, 42, 0.6) 30.04%, rgba(171, 164, 219, 0.6) 67.57%);
}

#questioning {
  background: radial-gradient(69.55% 69.55% at 21.19% 73.88%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(207.96deg, rgba(171, 164, 219, 0.6) 43.42%, rgba(170, 93, 42, 0.6) 73.89%);
}

#tacit {
  background: radial-gradient(62.69% 62.69% at 67.76% 81.19%, rgba(255, 255, 255, 0.5) 0%, rgba(253, 253, 253, 0) 100%), linear-gradient(16.82deg, rgba(170, 93, 42, 0.5) 35.31%, rgba(171, 164, 219, 0.5) 74.53%);
}

#beliefs {
  background: radial-gradient(54.34% 47.16% at 66.27% 21.64%, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.296) 100%), linear-gradient(180deg, rgba(170, 93, 42, 0.6) 27.01%, rgba(171, 164, 219, 0.6) 65.67%);
}

#framing {
  background: radial-gradient(60.3% 45.24% at 23.43% 86.12%, rgba(255, 255, 255, 0.6) 0%, rgba(170, 93, 42, 0) 100%, rgba(255, 255, 255, 0) 100%), linear-gradient(59.8deg, rgba(170, 93, 42, 0.6) 22.31%, rgba(132, 99, 153, 0.6) 78.52%);
}

#systems {
  background: radial-gradient(72.58% 57.31% at 49.85% 11.04%, rgba(255, 255, 255, 0.6) 0%, rgba(249, 249, 249, 0.102) 100%), linear-gradient(305deg, rgba(170, 93, 42, 0.6) 35.35%, rgba(132, 99, 153, 0.6) 65.14%);
}

#busModCan {
  background: radial-gradient(69.55% 69.55% at 60.75% 87.91%, rgba(0, 0, 0, 0.4) 0%, rgba(222, 219, 241, 0.152) 90.89%), linear-gradient(51.53deg, rgba(170, 93, 42, 0.6) 18.77%, rgba(132, 99, 153, 0.6) 73.58%);
}

#channels {
  background: radial-gradient(65.67% 65.67% at 49.85% 17.61%, rgba(0, 0, 0, 0.324) 0%, rgba(255, 255, 255, 0.164) 100%), linear-gradient(40.06deg, rgba(170, 93, 42, 0.6) 27.67%, rgba(132, 99, 153, 0.6) 63.96%);
}

#process {
  background: radial-gradient(50% 50% at 50% 50%, rgba(170, 93, 42, 0.2) 30.73%, rgba(0, 0, 0, 0) 100%), #ABA4DB;
}

#focus {
  background: radial-gradient(95.88% 91.93% at 21.94% 77.91%, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(39.11deg, rgba(170, 93, 42, 0.8) 14.1%, rgba(65, 57, 130, 0.8) 82.05%);
}

#opportunity {
  background: radial-gradient(46.65% 28.36% at 33.88% 71.64%, rgba(255, 255, 255, 0.4) 1.56%, rgba(255, 255, 255, 0) 98.98%), linear-gradient(307.36deg, rgba(170, 93, 42, 0.6) 26.47%, rgba(65, 57, 130, 0.6) 85.01%);
}

#better {
  background: radial-gradient(54.03% 74.8% at 79.1% 61.94%, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(357.54deg, rgba(170, 93, 42, 0.6) 6.64%, rgba(65, 57, 130, 0.6) 93.53%);
}

#when {
  background: radial-gradient(48.81% 44.78% at 36.12% 66.57%, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.228) 100%), linear-gradient(132.36deg, rgba(65, 57, 130, 0.6) 19.39%, rgba(170, 93, 42, 0.6) 77.88%);
}

#data {
  background: radial-gradient(58.81% 58.81% at 68.51% 56.87%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.004) 100%), linear-gradient(131.62deg, rgba(171, 164, 219, 0.6) 29.12%, rgba(170, 93, 42, 0.6) 62.07%);
}

#knowledge {
  background: radial-gradient(48.81% 49.79% at 67.31% 67.76%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(124.38deg, rgba(170, 93, 42, 0.6) 33.25%, rgba(171, 164, 219, 0.6) 60.38%);
}

#breadth {
  background: radial-gradient(67.91% 35.82% at 20.45% 71.04%, rgba(238, 238, 238, 0.4) 0%, rgba(254, 254, 254, 0) 100%), linear-gradient(48.27deg, rgba(170, 93, 42, 0.6) 25.51%, rgba(171, 164, 219, 0.6) 73.95%);
}

#custJourney {
  background: radial-gradient(86.63% 76.42% at 57.61% 84.18%, rgba(0, 0, 0, 0.4) 0%, rgba(249, 249, 249, 0.052) 73.44%), linear-gradient(184.61deg, rgba(170, 93, 42, 0.6) 14.38%, rgba(171, 164, 219, 0.6) 76.38%);
}

#communications {
  background: radial-gradient(39.85% 78.96% at 49.85% 21.04%, rgba(252, 252, 255, 0.4) 0%, rgba(222, 222, 222, 0.132) 100%), linear-gradient(0deg, rgba(132, 99, 153, 0.6) 31.26%, rgba(170, 93, 42, 0.6) 85.07%);
}

#critical {
  background: radial-gradient(51.79% 50.9% at 32.54% 28.96%, rgba(255, 255, 255, 0.4) 0%, rgba(171, 164, 219, 0.052) 100%), linear-gradient(299.37deg, rgba(132, 99, 153, 0.6) 22.95%, rgba(170, 93, 42, 0.6) 75.01%);
}

#swot {
  background: radial-gradient(92.95% 97.51% at 79.55% 64.78%, rgba(239, 239, 239, 0.4) 0%, rgba(0, 0, 0, 0.18) 100%), linear-gradient(3.26deg, rgba(170, 93, 42, 0.6) 17.57%, rgba(132, 99, 153, 0.6) 87.27%);
}

#basics {
  background: radial-gradient(50.61% 60.1% at 67.76% 65.52%, rgba(255, 255, 255, 0.539) 0%, rgba(0, 0, 0, 0.253) 100%), linear-gradient(206.76deg, rgba(132, 99, 153, 0.55) 27.91%, rgba(170, 93, 42, 0.55) 45.68%);
}

#tools {
  background: radial-gradient(50% 50% at 50% 50%, rgba(170, 93, 42, 0.2) 30.73%, rgba(0, 0, 0, 0) 100%), #846399;
}

#plan {
  background: radial-gradient(139.93% 83.58% at 45.82% 12.09%, rgba(255, 255, 255, 0.33) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(170, 93, 42, 0.8) 20.3%, rgba(65, 57, 130, 0.8) 76.33%);
}

#barriers {
  background: radial-gradient(39.05% 43.73% at 70.6% 31.04%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(245.29deg, rgba(170, 93, 42, 0.6) 31.35%, rgba(65, 57, 130, 0.6) 82.78%);
}

#stop {
  background: radial-gradient(105.38% 64.93% at 49.85% 19.4%, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(170, 93, 42, 0.6) 0%, rgba(65, 57, 130, 0.6) 100%);
}

#how {
  background: radial-gradient(51.08% 70.3% at 45.37% 75.52%, rgba(255, 255, 255, 0.4) 0%, rgba(1, 1, 1, 0.244) 100%), linear-gradient(180deg, rgba(65, 57, 130, 0.6) 15.97%, rgba(170, 93, 42, 0.6) 80.69%);
}

#gaps {
  background: radial-gradient(51.48% 45.08% at 33.13% 76.27%, rgba(251, 251, 251, 0.4) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(232.13deg, rgba(170, 93, 42, 0.5) 31.76%, rgba(171, 164, 219, 0.5) 59.65%);
}

#depth {
  background: radial-gradient(69.85% 69.85% at 42.69% 12.39%, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.096) 100%), linear-gradient(54.66deg, rgba(170, 93, 42, 0.6) 23.46%, rgba(171, 164, 219, 0.6) 77.14%);
}

#challenging {
  background: radial-gradient(56.42% 56.42% at 49.85% 23.58%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(170, 93, 42, 0.6) 15.1%, rgba(171, 164, 219, 0.6) 100%);
}

#assumptions {
  background: radial-gradient(85.31% 82.78% at 27.01% 30.9%, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.168) 100%), linear-gradient(180deg, rgba(170, 93, 42, 0.6) 13.88%, rgba(171, 164, 219, 0.6) 71.94%);
}

#thinking {
  background: radial-gradient(65.82% 65.82% at 77.01% 73.73%, rgba(255, 255, 255, 0.4) 0%, rgba(244, 236, 249, 0.048) 100%), linear-gradient(298.32deg, rgba(170, 93, 42, 0.6) 32.42%, rgba(132, 99, 153, 0.6) 75.85%);
}

#creative {
  background: radial-gradient(61.79% 61.79% at 20.75% 82.24%, rgba(255, 255, 255, 0.4) 0%, rgba(243, 235, 230, 0.048) 100%), linear-gradient(118.24deg, rgba(170, 93, 42, 0.6) 21.76%, rgba(132, 99, 153, 0.6) 74.81%);
}

#porter {
  background: radial-gradient(61.04% 61.04% at 11.49% 67.16%, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.128) 100%), linear-gradient(358.03deg, rgba(170, 93, 42, 0.6) 27.1%, rgba(132, 99, 153, 0.6) 89.94%);
}

#succes {
  background: radial-gradient(56.42% 56.42% at 22.69% 73.28%, rgba(255, 255, 255, 0.6) 20.22%, rgba(0, 0, 0, 0.336) 100%), linear-gradient(55.55deg, rgba(170, 93, 42, 0.6) 44.36%, rgba(132, 99, 153, 0.6) 57.47%);
}