@use '../globals' as g;
@use '../components' as c;
@use '../layout' as l;
@use '../util' as u;


// #strategy,
.strategy {
  z-index: 0;
  transition: transform 1s ease-in, opacity 1s ease-in;
  opacity: 0;
}

// #process,
.process {
  transition: transform 1s ease-in, opacity 1s ease-in;
  opacity: 0;
}

// #tools,
.tools {
  transition: transform 1s ease-in, opacity 1s ease-in;
  opacity: 0;
}



.strategist {
  z-index: 1;
  opacity: 1;
}


#strategist:hover {

  // #strategy,
  .strategy {

    opacity: 1;
    transform: translate(calc(g.$diag-tn-pos * -1), calc(g.$diag-tn-pos * -1));
    transition: transform 1s ease-out, opacity 1s ease-out;
  }

  // #process,
  .process {
    opacity: 1;
    transform: translate(g.$diag-tn-pos, calc(g.$diag-tn-pos * -1));
    transition: transform 1s ease-out, background-color 1s ease-out;
  }

  // #tools,
  .tools {
    opacity: 1;
    transform: translateY(g.$card-S);
    transition: transform 1s ease-out, background-color 1s ease-out;
  }
}